<br>
<div class="row login-comp">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="text-white bg-primary card">
      <div class="card-body">
        <h4 class="card-title">Reset Password</h4>
        <form #resetPasswordForm="ngForm">
          <div class="form-group">
            <label>Password:</label>
            <input class="form-control" required name="password" type="password" [(ngModel)]="formPassword" placeholder="Password...">
          </div>
          <div class="form-group">
            <label>Password Confirmation:</label>
            <input class="form-control" required name="password_confirmation" type="password" [(ngModel)]="formPasswordConfirmation" placeholder="Password Confirmation...">
          </div>
          <div class="form-group text-muted">
            <small>* Please enter a matching password and confirmation password. If the token you provided is valid your password will be reset.</small>
          </div>
          <div *ngIf="submissionError" class="text-danger">
            <p>{{submissionError}}</p>
          </div>
          <div *ngIf="submissionError" class="text-success">
            <p>{{submissionMessage}}</p>
          </div>
          <div class="form-buttons">
            <button class="btn btn-secondary" (click)="requestReset()" [disabled]="requestResetSubmitting || !resetPasswordForm.form.valid">Request Password Reset<span *ngIf="requestResetSubmitting">&nbsp;<i class="fas fa-spinner fa-spin"></i></span></button>
          </div>
        </form>
      </div>
    </div>
    <div style="text-align:right;">
      <span><a routerLink="/signup">Sign Up</a></span> | <span><a routerLink="/login">Login</a></span>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
