<header>
  <div class="row">
    <div class="left-header col-md-6 col-sm-4">
        <span class="univia header-title"><span class="first-word">BENDROCORP</span><span class="second-word">&nbsp;PORTAL</span></span>
    </div>
    <div class="right-header col-md-6 col-sm-8 col-xs-12" style="text-align: right; padding-right: 30px;">      
        <div *ngIf="userSession">
            <h4>
                <span *ngIf="!userSession.character_id">Hello!</span>
                <span *ngIf="userSession.character_id"><img src="{{userSession.avatar}}" style="max-height: 20px;" alt="">&nbsp;</span>
                <!-- <span *ngIf="userSession.character">{{userSession.character.first_name}}</span> -->
                <div *ngIf="userSession.character_id" ngbDropdown class="d-inline-block">
                    <button class="btn btn-sm btn-primary" id="dropdownBasic1" ngbDropdownToggle>{{userSession.first_name}}<span *ngIf="alertCount > 0">&nbsp;<span class="badge badge-pill badge-danger">{{alertCount}}</span></span></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" style="cursor:pointer;" routerLink="/profiles/{{userSession.first_name.toLowerCase()}}-{{userSession.last_name.toLowerCase()}}-{{userSession.character_id}}">My Profile</button>
                        <button class="dropdown-item" style="cursor: pointer;" routerLink="/approvals">Approvals<span *ngIf="approvalsCount > 0">&nbsp;<span class="badge badge-pill badge-danger">{{approvalsCount}}</span></span></button>
                        <button class="dropdown-item" style="cursor:pointer;" routerLink="/training">Training<span *ngIf="trainingCount > 0">&nbsp;<span class="badge badge-pill badge-danger">{{trainingCount}}</span></span></button>
                        <settings-modal class="dropdown-item"></settings-modal>
                    </div>
                    &nbsp;
                </div>
                <span><button class="btn btn-sm btn-primary" (click)="doLogout()"><i class="fas fa-power-off"></i></button></span>
            </h4>
            <!-- Peronal Menus -->
            <div>
                
                <span *ngIf="isMember">
                    <!-- <a class="btn btn-sm btn-primary btn-header" routerLink="/profiles/{{userSession.character.first_name.toLowerCase()}}-{{userSession.character.last_name.toLowerCase()}}-{{userSession.character.id}}">Profile</a>&nbsp; -->
                    <!-- <a class="btn btn-sm btn-primary btn-header" routerLink="/training">Training</a>&nbsp; -->
                    <a class="btn btn-sm btn-primary btn-header" routerLink="/news">News</a>&nbsp;
                    <app-discord></app-discord>&nbsp;
                    <a class="btn btn-sm btn-primary btn-header" routerLink="/funding">Funding</a>&nbsp;
                </span>
            </div>
        </div>
    </div>
  </div>
</header>