<header>
  <div class="row">
    <div class="left-header col-md-6 col-sm-4">
        <span class="univia header-title"><span class="first-word">BENDROCORP</span><span class="second-word">&nbsp;PORTAL</span></span>
    </div>
    <div class="right-header col-md-6 col-sm-8 col-xs-12" style="text-align: right; padding-right: 30px;">      
        <div *ngIf="userSession">
            <h4>
                <span *ngIf="!userSession.character">Hello!</span>
                <span *ngIf="userSession.character"><img src="{{userSession.character.avatar_url}}" style="max-height: 20px;" alt="">&nbsp;</span>
                <!-- <span *ngIf="userSession.character">{{userSession.character.first_name}}</span> -->
                <div *ngIf="userSession.character" ngbDropdown class="d-inline-block">
                    <button class="btn btn-sm btn-primary" id="dropdownBasic1" ngbDropdownToggle>{{userSession.character.first_name}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" style="cursor:pointer;" routerLink="/profiles/{{userSession.character.first_name.toLowerCase()}}-{{userSession.character.last_name.toLowerCase()}}-{{userSession.character.id}}">My Profile</button>
                        <button class="dropdown-item" style="cursor:pointer;" routerLink="/training">Training</button>
                        <settings-modal class="dropdown-item"></settings-modal>
                    </div>
                    &nbsp;
                </div>
                <span><button class="btn btn-sm btn-primary" (click)="doLogout()"><i class="fas fa-power-off"></i></button></span>
            </h4>
            <!-- Peronal Menus -->
            <div>
                
                <span *ngIf="isMember">
                    <!-- <a class="btn btn-sm btn-primary btn-header" routerLink="/profiles/{{userSession.character.first_name.toLowerCase()}}-{{userSession.character.last_name.toLowerCase()}}-{{userSession.character.id}}">Profile</a>&nbsp; -->
                    <!-- <a class="btn btn-sm btn-primary btn-header" routerLink="/training">Training</a>&nbsp; -->
                    <a class="btn btn-sm btn-primary btn-header" href="https://discord.gg/yEzMyaT" target="_blank">Discord</a>&nbsp;
                    <a class="btn btn-sm btn-primary btn-header" routerLink="/funding">Funding</a>&nbsp;
                </span>
            </div>
        </div>
    </div>
  </div>
</header>