<header>
  <div class="row">
    <div class="left-header col-md-6 col-sm-4 col-xs-4">
        <span class="univia header-title">BENDROCORP PORTAL</span>
    </div>
    <div class="right-header col-md-6 col-sm-8 col-xs-8" style="text-align: right; padding-right: 30px;">      
        <div *ngIf="userSession">
            <h4>{{userSession.character.first_name}} <img src="{{userSession.character.avatar_url}}" style="max-height: 20px;" alt="">&nbsp;<span><button class="btn btn-sm btn-primary" (click)="doLogout()"><i class="fas fa-power-off"></i></button></span></h4>
            <!-- Peronal Menus -->
            <div><a class="btn btn-sm btn-primary btn-header" href="">Profile</a>&nbsp;<a class="btn btn-sm btn-primary btn-header" href="">Discord</a>&nbsp;<a class="btn btn-sm btn-primary btn-header" href="">Settings</a></div>
        </div>
    </div>
  </div>
</header>