<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Requests</li>
    </ol>
  </div>
</div>

<div class="row middle">
  <div class="col-md-4 request-box" *ngIf="isDirector || isExecutive">
    <div class="icon">
      <i class="fas fa-chevron-circle-up"></i>
    </div>
    <div>
      <a routerLink="/requests/add-role">Add Role</a>
    </div>
  </div>
  <div class="col-md-4 request-box" *ngIf="isDirector || isExecutive">
    <div class="icon">
      <i class="fas fa-chevron-circle-down"></i>
    </div>
    <div>
      <a routerLink="/requests/remove-role">Remove Role</a>
    </div>
  </div>
  <div class="col-md-4 request-box" *ngIf="isDirector">
    <div class="icon">
      <i class="fas fa-briefcase"></i>
    </div>
    <div>
      <a routerLink="/requests/position-change">Position Change</a>
    </div>
  </div>
  <div class="col-md-4 request-box">
    <div class="icon">
      <i class="far fa-check-circle"></i>
    </div>
    <div>
      <a routerLink="/requests/approvals">Approvals</a>
    </div>
  </div>
</div>
