<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{formAction}} Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #eventForm="ngForm">
      <div class="form-group">
        <label>Event Name</label>
        <input class="form-control" required placeholder="Enter event name..." [(ngModel)]="event.name" name="name" type="text">
      </div>
      <div class="form-group">
        <label>Event Description</label>
        <textarea class="form-control" required placeholder="Enter event description..." [(ngModel)]="event.description" name="description"></textarea>
      </div>
      <div class="row">
        <div class="form-group col-md-6 col-sm-6 col-xs-6">
          <label>Event Start Date</label>
          <div *ngIf="event.start_date"><strong>{{event.start_date | date:'MM/dd/yyyy @ h:mma' }}</strong></div>
          <dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5" name="start_date" (change)="onStartDateSelect($event)" [(ngModel)]="event.start_date"></dl-date-time-picker>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-6">
          <label>Event End Date</label>
          <div *ngIf="event.end_date"><strong>{{event.end_date | date:'MM/dd/yyyy @ h:mma' }}</strong></div>
          <dl-date-time-picker startView="day" maxView="year" minView="minute" minuteStep="5" name="end_date" (change)="onEndDateSelect($event)" [(ngModel)]="event.end_date"></dl-date-time-picker>
        </div>
      </div>
      <div class="form-group" *ngIf="!gradeId">
        <label>Event Type:</label>
        <select class="form-control" [(ngModel)]="event.event_type_id" name="grade_level_id" required>
          <option *ngFor="let eType of eventTypes" [value]="eType.id">{{eType.title}}</option>
        </select>
        </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="event.show_on_dashboard" name="show_on_dashboard">
          <label class="custom-control-label" for="customCheck1">Show on dashboard?</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2" [(ngModel)]="event.weekly_recurrance" name="weekly_recurrance">
          <label class="custom-control-label" for="customCheck2">Weekly Recurrance?</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!eventForm.form.valid" (click)="doSaveBack()">{{formAction}} Event</button>
    <button type="button" class="btn btn-secondary" (click)="c()">Cancel</button>
  </div>
</ng-template>

<button *ngIf="event && event.id" class="btn btn-primary" (click)="open(content)">Edit Event</button>
<button *ngIf="!event || !event.id" class="btn btn-sm btn-secondary" (click)="open(content)">Add Event</button>