<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/requests">Requests</a></li>
      <li class="breadcrumb-item active">Approvals</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card border-primary mb-3">
      <div class="card-header bg-primary text-white">My Approvals</div>
      <div class="card-body">
        <h4 *ngIf="myApprovals && myApprovals.length == 0 && dataLoaded">You currently have no approvals.</h4>
        <table *ngIf="myApprovals.length > 0" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Approval #</th>
              <th>Approval Type</th>
              <th>Approval Status</th>
              <th>Your Response</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let approval of myApprovals">
              <td routerLink="/requests/approvals/{{approval.approval_id}}">{{approval.approval_id}}</td>
              <td routerLink="/requests/approvals/{{approval.approval_id}}">{{approval.approval.approval_kind.title}}</td>
              <td routerLink="/requests/approvals/{{approval.approval_id}}">{{approval.approval.approval_status}}</td>
              <td>
                <approval-control [approval]="approval"></approval-control>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



