
<ng-template #content>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
   <button type="button" class="close" aria-label="Close" (click)="close()">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
    <ngb-tabset>
      <ngb-tab title="Password">
        <ng-template ngbTabContent>
          <br>
          <h5>Change Password</h5>
          <div>
            <form #changePasswordForm="ngForm">
              <div class="form-group">
                <label>Original Password</label>
                <input class="form-control" type="password" [(ngModel)]="passwordChange.original_password" name="original_password">
              </div>
              <div class="form-group">
                <label>New Password</label>
                <input class="form-control" type="password" [(ngModel)]="passwordChange.password" name="password">
              </div>
              <div class="form-group">
                <label>Password Confirmation</label>
                <input class="form-control" type="password" [(ngModel)]="passwordChange.password_confirmation" name="password_confirmation">
              </div>
              <div>
                <button class="btn btn-primary" [disabled]="!changePasswordForm.form.valid" (click)="doChangePassword()">Change Password</button>
              </div>
            </form>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Change Email">
        <ng-template ngbTabContent>
          <br>
          <h5>Change Email</h5>
          <div>
            <form #changeEmailForm="ngForm">
              <div class="form-group">
                <label>New Email</label>
                <input required class="form-control" type="email" [(ngModel)]="changeEmail" name="email">
              </div>
              <div class="form-group">
                  <label>Enter Password</label>
                  <input required class="form-control" type="password" [(ngModel)]="changeEmailPassword" name="changeEmailPassword">
                </div>
              <div>
                <button class="btn btn-primary" [disabled]="!changeEmailForm.form.valid" (click)="doChangeEmail()">Change Email</button>
              </div>
            </form>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="TFA">
        <ng-template ngbTabContent>
          <br>
          <h5>Two-Factor Authentication</h5>
          <div>
            <!-- First Stage Show the Button -->
            <div *ngIf="!user.tfa_enabled && !tfaDataObject" style="text-align:center" >
              <button class="btn btn-lg btn-primary" (click)="doRequestTfa()">Enable Two Factor Auth</button>
            </div>
            <!-- Second stage show the qr code -->
            <div *ngIf="!user.tfa_enabled && tfaDataObject">
                <h6>Scan this code using something like Google Authenticator. (<a href="https://itunes.apple.com/us/app/google-authenticator/id388497605" target="_blank">iTunes</a>/<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_US" target="_blank">Google Play</a>)</h6>
                <div style="text-align:center">
                  <qrcode [qrdata]="tfaDataObject.qr_data_string" [size]="256" [level]="'M'"></qrcode>
                </div>
                <br>
                <h6>To Enable TFA enter the code produced by your authenticator and your current password:</h6>
                <div class="form-group">
                  <label>Password</label>
                  <input class="form-control" [(ngModel)]="tfaAuthObject.password" type="password">
                </div>
                <div class="form-group">
                  <label>Code</label>
                  <input class="form-control" [(ngModel)]="tfaAuthObject.code" type="text">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" (click)="doEnableTfa()">Enable TFA</button>
                </div>
            </div>
            <!-- Final Stage state its enabled -->
            <div *ngIf="user.tfa_enabled">
              <h6>Two factor authentication is enabled for this account!</h6>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Auth Tokens">
        <ng-template ngbTabContent>
          <br>
          <h5>Auth Tokens</h5>
          <h6 *ngIf="!tokens || tokens.length == 0">You do not have any authorization tokens.</h6>
          <table *ngIf="tokens && tokens.length > 0" class="table table-striped">
            <tbody>
              <tr *ngFor="let token of tokens">
                <td>{{token.token | slice:0:6 }}...</td>
                <td [ngClass]="{'text-success': token.perpetual == true, 'text-danger': token.perpetual == false}">Perpetual</td>
                <td>{{token.device}}</td>
                <td><button class="btn btn-sm btn-danger" (click)="removeAuthToken(token)">Revoke</button></td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="OAuth">
        <ng-template ngbTabContent>
          <br>
          <h5>OAuth Tokens</h5>
          <h6 *ngIf="oAuthTokens.length == 0">You have not authorized any third party integrations.</h6>
          <table *ngIf="oAuthTokens.length > 0" class="table table-striped">
            <tbody>
              <tr *ngFor="let token of oAuthTokens">
                <td>{{token.token | slice:0:6 }}...</td>
                <td></td>
                <td><button class="btn btn-sm btn-danger" (click)="revokeOAuthToken(token)">Revoke</button></td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Membership">
        <ng-template ngbTabContent>
          <br>
          <h5>Your Membership</h5>
          <div>
            <p>You can end your membership to BendroCorp at any time by clicking the button below. Please note that this action is not reversable. If at any time you wish to rejoin BendroCorp you may do so by getting in touch with a member of leadership via Spectrum.</p>
            <button class="btn btn-lg btn-danger" (click)="doCancelMembership()">Cancel Membership</button>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
 </div>
 <!-- <div class="modal-footer">
   <button type="button" class="btn btn-outline-dark" (click)="close()">Save</button>
 </div> -->
</ng-template>
<a class="" (click)="open(content)" style="cursor:pointer;">Settings</a>
<!-- <a class="btn btn-sm btn-primary btn-header text-white" (click)="open(content)" style="cursor:pointer;">Settings</a> -->
<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
