<!-- Breadcrumbs -->
<div class="row">
  <div class="col-md-12">
    <ol *ngIf="!selectedStarSystem" class="breadcrumb">
      <li class="breadcrumb-item active">System Map</li>
    </ol>
    <ol *ngIf="selectedStarSystem" class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)" (click)="deselectItem()">System Map</a></li>
        <li class="breadcrumb-item active">{{selectedStarSystem.title | titlecase}}</li>
      </ol>
  </div>
</div>

<!-- View Selector -->
<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" (change)="setViewSelection($event)" [(ngModel)]="systemMapViewSelection">
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="1"><i class="fas fa-th-list"></i>
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="2"><i class="fas fa-globe"></i>
  </label>
</div>
<system-map-list-view *ngIf="systemMapViewSelection == 1"></system-map-list-view>
<system-map-map-view *ngIf="systemMapViewSelection == 2"></system-map-map-view>