<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">System Map</li>
    </ol>
  </div>
</div>

<div class="row" style="margin-bottom:4px">
  <div class="col-md-12">
    <add-update-system-modal *ngIf="isEditor && !selectedStarSystem" style="float:right"></add-update-system-modal>
    <add-update-system-object-modal *ngIf="isEditor && selectedStarSystem" style="float:right; margin-right: 4px;"></add-update-system-object-modal>
    <add-update-moon-modal *ngIf="isEditor && selectedStarSystem" style="float:right; margin-right: 4px;"></add-update-moon-modal>
    <add-update-planet-modal *ngIf="isEditor && selectedStarSystem" style="float:right; margin-right: 4px;"></add-update-planet-modal>
    <button *ngIf="selectedStarSystem" (click)="allSystems()" style="float:right; margin-right: 4px;" class="btn btn-primary">Back To Galaxy</button>
  </div>
</div>

<div class="row" style="height:80%;">
  <div [ngClass]="{'col-md-6 col-sm-6 col-xs-6': selectedStarSystemItem, 'col-md-12': !selectedStarSystemItem }" class="">    
    <div style="border:2px solid #000; height: 95%;" #starChart></div>   
  </div>
  <div style="height: 95%;" *ngIf="selectedStarSystemItem" class="col-md-6 col-sm-6 col-xs-6 detail-panel">
    <span class="sm-close"><a (click)="deselectItem()"><i class="fas fa-times"></i></a></span>
    <!-- Basic Details -->
    <div style="clear:both;">
      <img src="{{selectedStarSystemItem.primary_image_url}}" style="float:right; border: 2px solid black; max-height:150px" alt="">
      <h2>{{selectedStarSystemItem.title}}<div *ngIf="isEditor"><add-update-planet-modal *ngIf="selectedObjectKind === 'p'" [planet]="selectedStarSystemItem"></add-update-planet-modal><add-update-moon-modal *ngIf="selectedObjectKind === 'm'" [moon]="selectedStarSystemItem"></add-update-moon-modal></div></h2>
      <p>{{selectedStarSystemItem.description}}</p>
    </div>
    <hr style="clear:both; padding-top:6px;">
    <!-- Settlements -->
    <div *ngIf="selectedStarSystemItem.settlements">
      <h6>Settlements <button *ngIf="isEditor && selectedStarSystemItem" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Add Settlement</button></h6>
      <div>

      </div>
    </div>
    <!-- Locations -->
    <div *ngIf="selectedStarSystemItem.locations">
      <h6>Locations <button *ngIf="isEditor && selectedStarSystemItem" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Add Location</button></h6>
      <div>

      </div>
    </div>
  </div>
</div>