<!-- Buttons -->
<div class="row" style="margin-bottom:4px">
  <div class="col-md-12">
    <div style="float: right;">
      <add-update-system-modal *ngIf="isEditor && !selectedStarSystem"></add-update-system-modal>&nbsp;
      <add-update-jump-point-modal *ngIf="isEditor && !selectedStarSystem"></add-update-jump-point-modal>
      <button *ngIf="selectedStarSystem" (click)="allSystems()" class="btn btn-primary" style="margin-right: 4px;">Back To Galaxy</button>
      <add-update-system-modal *ngIf="isEditor && selectedStarSystem" [starSystem]="selectedStarSystem" style="margin-right: 4px;"></add-update-system-modal>
      <add-update-system-object-modal [starSystem]="selectedStarSystem" *ngIf="isEditor && selectedStarSystem" style="margin-right: 4px;"></add-update-system-object-modal>
      <add-update-moon-modal [starSystem]="selectedStarSystem" *ngIf="isEditor && selectedStarSystem" style="margin-right: 4px;"></add-update-moon-modal>
      <add-update-planet-modal [starSystem]="selectedStarSystem" *ngIf="isEditor && selectedStarSystem"></add-update-planet-modal>
    </div>
  </div>
</div>
<!-- System Map overflow-y: hidden;-->
<div (window:resize)="smContainerResize($event)" (resize)="smContainerResize($event)" class="row" style="position: relative; height: 90%;" #systemMapContainer>
  <!-- The map panel -->
  <div [ngClass]="{'col-md-6 col-sm-6 col-xs-6': selectedStarSystemItem, 'col-md-12': !selectedStarSystemItem }"
    class="">
    <!-- The actual visjs element -->
    <div style="border:2px solid #000; height: auto" #starChart></div>
  </div>
  <!-- The details panel  style="height: 95%; max-height: 100%"-->
  <div *ngIf="selectedStarSystemItem" class="col-md-6 col-sm-6 col-xs-6 detail-panel">
    <span class="sm-close"><a (click)="deselectItem()"><i class="fas fa-times"></i></a></span>
    <!-- Basic Details -->
    <div style="clear:both;">
      <image-view-modal style="float:right;" [thumbnailUri]="selectedStarSystemItem.primary_image_url"
        [imageUri]="selectedStarSystemItem.primary_image_url_full" [maxWidth]="150"></image-view-modal>
      <!-- <img src="{{selectedStarSystemItem.primary_image_url}}" style="float:right; border: 2px solid black; max-height:150px; margin-left:8px;" alt=""> -->
      <h2>{{selectedStarSystemItem.title}}&nbsp;
        <span *ngIf="isEditor">
          <add-update-gravity-well-modal *ngIf="selectedObjectKind === 'gw'" [smallBtn]="true" [gravityWell]="selectedStarSystemItem"></add-update-gravity-well-modal>
          <add-update-planet-modal *ngIf="selectedObjectKind === 'p'" [starSystem]="selectedStarSystem"
            [planet]="selectedStarSystemItem"></add-update-planet-modal>
          <add-update-moon-modal *ngIf="selectedObjectKind === 'm'" [starSystem]="selectedStarSystem"
            [moon]="selectedStarSystemItem"></add-update-moon-modal>
          <add-update-system-object-modal *ngIf="selectedStarSystem && selectedObjectKind === 'so'" [smallBtn]="true"
            [systemObject]="selectedStarSystemItem"></add-update-system-object-modal>
          <!-- Buttons for system objects around planets and moons -->
          &nbsp;<add-update-system-object-modal [smallBtn]="true" [systemPlanet]="selectedStarSystemItem"
            *ngIf="isEditor && selectedStarSystem && selectedObjectKind === 'p'"></add-update-system-object-modal>
          <add-update-system-object-modal [smallBtn]="true" [systemMoon]="selectedStarSystemItem"
            *ngIf="isEditor && selectedStarSystem && selectedObjectKind === 'm'"></add-update-system-object-modal>
          <system-law-modal [jurisdictions]="selectedStarSystemItemLaws"
            *ngIf="selectedObjectKind === 'p' || selectedObjectKind === 'm' || selectedObjectKind === 'so'">
          </system-law-modal>
        </span>
      </h2>
      <system-map-tag *ngIf="selectedStarSystemItem.tags" [tags]="selectedStarSystemItem.tags"></system-map-tag>
      <system-rating-panel *ngIf="selectedObjectKind === 'p'"
        [criminalRating]="selectedStarSystemItem.minimum_criminality_rating"
        [atmosphericHeight]="selectedStarSystemItem.atmospheric_height"
        [economicRating]="selectedStarSystemItem.economic_rating"
        [populationDensity]="selectedStarSystemItem.population_density"></system-rating-panel>
      <p>{{selectedStarSystemItem.description}}</p>
    </div>
    <hr style="clear:both; padding-top:6px;">
    <!-- Settlements -->
    <div *ngIf="selectedStarSystemItem.settlements">
      <h5>Settlements&nbsp;
        <add-update-settlement-modal *ngIf="isEditor && selectedStarSystem && selectedObjectKind === 'p'"
          [smallBtn]="true" [systemPlanet]="selectedStarSystemItem"></add-update-settlement-modal>
        <add-update-settlement-modal *ngIf="isEditor && selectedStarSystem && selectedObjectKind === 'm'"
          [smallBtn]="true" [systemMoon]="selectedStarSystemItem"></add-update-settlement-modal>
      </h5>
      <p *ngIf="selectedStarSystemItem.settlements.length == 0">There are currently no registered settlements.</p>
      <div *ngFor="let settlement of selectedStarSystemItem.settlements; let i = index">
        <image-view-modal style="float:right;" [thumbnailUri]="settlement.primary_image_url"
          [imageUri]="settlement.primary_image_url_full" [maxWidth]="100"></image-view-modal>
        <!-- <img src="{{settlement.primary_image_url}}" style="max-height:100px; float:right; margin-left:8px;" alt=""> -->
        <h6>{{settlement.title}}&nbsp;
          <add-update-settlement-modal *ngIf="isEditor" [smallBtn]="true" [systemSettlement]="settlement">
          </add-update-settlement-modal>&nbsp;
          <add-update-location-modal *ngIf="isEditor && selectedStarSystem" [smallBtn]="true"
            [systemSettlement]="settlement"></add-update-location-modal>
        </h6>
        <p>{{settlement.description}}</p>
        <div *ngIf="isEditor">
          <add-update-system-image-modal [smallBtn]="true" [systemSettlement]="settlement">
          </add-update-system-image-modal>
        </div>
        <div style="display:inline-block; border: 1px solid #666" *ngFor="let image of settlement.system_map_images">
          <add-update-system-image-modal style="float:right;" *ngIf="isEditor" [smallBtn]="true" [systemImage]="image">
          </add-update-system-image-modal>
          <image-view-modal [title]="image.title" [description]="image.description"
            [thumbnailUri]="image.image_url_thumbnail" [imageUri]="image.image_url"
            [createdBy]="image.created_by.main_character"></image-view-modal>
        </div>
        <br style="clear:both;">
        <div *ngIf="settlement.locations && settlement.locations.length > 0"
          style="color:#fff; background: #666666; padding: 8px;">
          <div *ngFor="let setLocation of settlement.locations">
            <image-view-modal style="float:right;" [thumbnailUri]="setLocation.primary_image_url"
              [imageUri]="setLocation.primary_image_url_full" [maxWidth]="100"></image-view-modal>
            <!-- <img src="{{setLocation.primary_image_url}}" style="max-height:100px; float:right; margin-left:8px;" alt=""> -->
            <h6>{{setLocation.title}}&nbsp;
              <add-update-location-modal *ngIf="isEditor" [smallBtn]="true" [systemLocation]="setLocation">
              </add-update-location-modal>
            </h6>
            <p>{{setLocation.description}}</p>
            <div *ngIf="isEditor" style="margin: 4px 0 4px 0">
              <mission-giver-modal style="margin: 0 2px 0 0" [smallBtn]="true" [systemLocation]="setLocation"></mission-giver-modal>
              <add-update-system-image-modal [smallBtn]="true" [systemLocation]="setLocation"></add-update-system-image-modal>
            </div>
            <!-- Settlement location mission givers -->
            <div *ngIf="setLocation.mission_givers && setLocation.mission_givers.length > 0">
              <h6>Mission Givers</h6>
              <!-- Mission Giver Container -->
              <div *ngFor="let mg of setLocation.mission_givers">
                <image-view-modal style="float:right;" [thumbnailUri]="mg.primary_image_url"
                [imageUri]="mg.primary_image_url_full" [maxWidth]="100"></image-view-modal>
                <div>
                  <strong>{{mg.title}} <small *ngIf="mg.faction_affiliation">({{mg.faction_affiliation.title}}) </small></strong><mission-giver-modal [smallBtn]="true" [missionGiver]="mg"></mission-giver-modal>
                </div>
                <p>{{mg.description}}</p>
              </div>
            </div>

            <!-- Settlement Location Image -->
            <div style="display:inline-block; border: 1px solid #666"
              *ngFor="let image of setLocation.system_map_images">
              <add-update-system-image-modal style="float:right;" *ngIf="isEditor" [smallBtn]="true"
                [systemImage]="image"></add-update-system-image-modal>
              <image-view-modal [title]="image.title" [description]="image.description"
                [thumbnailUri]="image.image_url_thumbnail" [imageUri]="image.image_url"
                [createdBy]="image.created_by.main_character"></image-view-modal>
            </div>
            <br style="clear:both;">
          </div>
        </div>
        <hr *ngIf="settlement.locations.length == (i + 1)">
      </div>
    </div>
    <hr>
    <!-- Locations -->
    <div *ngIf="selectedStarSystemItem.locations">
      <h5>Locations&nbsp;
        <add-update-location-modal *ngIf="isEditor && selectedStarSystem && selectedObjectKind === 'p'"
          [smallBtn]="true" [systemPlanet]="selectedStarSystemItem"></add-update-location-modal>
        <add-update-location-modal *ngIf="isEditor && selectedStarSystem && selectedObjectKind === 'm'"
          [smallBtn]="true" [systemMoon]="selectedStarSystemItem"></add-update-location-modal>
        <add-update-location-modal *ngIf="isEditor && selectedStarSystem && selectedObjectKind === 'so'"
          [smallBtn]="true" [systemObject]="selectedStarSystemItem"></add-update-location-modal>
      </h5>
      <p *ngIf="selectedStarSystemItem.locations.length == 0">There are currently no registered locations.</p>
      <div *ngFor="let location of selectedStarSystemItem.locations">
        <image-view-modal style="float:right;" [thumbnailUri]="location.primary_image_url"
          [imageUri]="location.primary_image_url_full" [maxWidth]="100"></image-view-modal>
        <!-- <img src="{{location.primary_image_url}}" style="max-height:100px; float:right; margin-left:8px;" alt=""> -->
        <h6>{{location.title}} <add-update-location-modal *ngIf="isEditor" [smallBtn]="true"
            [systemLocation]="location"></add-update-location-modal>
        </h6>
        <p>{{location.description}}</p>
        <div *ngIf="isEditor" style="margin: 4px 0 4px 0">
          <mission-giver-modal style="margin: 0 2px 0 0" [smallBtn]="true" [systemLocation]="location"></mission-giver-modal>
          <add-update-system-image-modal [smallBtn]="true" [systemLocation]="location"></add-update-system-image-modal>
        </div>
        <!-- Settlement location mission givers -->
        <div *ngIf="location.mission_givers && location.mission_givers.length > 0">
          <h6>Mission Givers</h6>
          <!-- Mission Giver Container -->
          <div *ngFor="let mg of location.mission_givers">
            <image-view-modal style="float:right;" [thumbnailUri]="mg.primary_image_url"
            [imageUri]="mg.primary_image_url_full" [maxWidth]="100"></image-view-modal>
            <div>
              <strong>{{mg.title}} <small *ngIf="mg.faction_affiliation">({{mg.faction_affiliation.title}}) </small></strong><mission-giver-modal [smallBtn]="true" [missionGiver]="mg"></mission-giver-modal>
            </div>
            <p>{{mg.description}}</p>
          </div>
        </div>
        <div style="display:inline-block; border: 1px solid #666" *ngFor="let image of location.system_map_images">
          <add-update-system-image-modal style="float:right;" *ngIf="isEditor" [smallBtn]="true" [systemImage]="image">
          </add-update-system-image-modal>
          <image-view-modal [title]="image.title" [description]="image.description"
            [thumbnailUri]="image.image_url_thumbnail" [imageUri]="image.image_url"
            [createdBy]="image.created_by.main_character"></image-view-modal>
        </div>
      </div>
    </div>
    <!-- Images -->
    <hr *ngIf="selectedStarSystemItem.system_map_images" />
    <div *ngIf="selectedStarSystemItem.system_map_images">
      <h5>Images&nbsp;
        <add-update-system-image-modal *ngIf="isEditor && selectedStarSystem && selectedObjectKind === 'p'"
          [smallBtn]="true" [systemPlanet]="selectedStarSystemItem"></add-update-system-image-modal>
        <add-update-system-image-modal *ngIf="isEditor && selectedStarSystem && selectedObjectKind === 'm'"
          [smallBtn]="true" [systemMoon]="selectedStarSystemItem"></add-update-system-image-modal>
        <add-update-system-image-modal *ngIf="isEditor && selectedStarSystem && selectedObjectKind === 'so'"
          [smallBtn]="true" [systemObject]="selectedStarSystemItem"></add-update-system-image-modal>
      </h5>
      <p *ngIf="selectedStarSystemItem.system_map_images.length == 0">There are currently no images.</p>
      <div style="display:inline-block; border: 1px solid #666"
        *ngFor="let image of selectedStarSystemItem.system_map_images">
        <add-update-system-image-modal style="float:right;" *ngIf="isEditor" [smallBtn]="true" [systemImage]="image">
        </add-update-system-image-modal>
        <image-view-modal [title]="image.title" [description]="image.description"
          [thumbnailUri]="image.image_url_thumbnail" [imageUri]="image.image_url"
          [createdBy]="image.created_by.main_character"></image-view-modal>
      </div>
    </div>
  </div>
</div>