<!-- Breadcrumbs -->
<div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/training">Training</a></li>
        <li class="breadcrumb-item active">Training course name</li>
      </ol>
    </div>
  </div>
  <!-- Main -->
  <div class="row">
    <div class="col-md-12">
      <div class="card border-primary">
        <div class="card-header bg-primary text-white">course name</div>
        <div class="card-body">
          <!-- TODO -->
        </div>
      </div>
    </div>
  </div>