.main {
    display: flex;
    background-color: rgba(255,255,255,0.95);
    height: 94%;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
}

.menu-panel
{
    width: 250px;
    border-right: 4px solid #000;
}

.menu-panel > .logo
{
    height: 150px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.menu-panel > .logo > img
{
    max-height: 100%;
}

.menu-panel .closed
{
    width: 0px;
}

.content-panel
{
    width: 100%;
}