.main {
    display: flex;
    background-color: rgba(255,255,255,0.95);
    height: 94%;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.1);
}

.menu-panel
{
    width: 250px;
    border-right: 4px solid #000;
}

.menu-panel > .logo
{
    height: 150px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.menu-panel > .logo > img
{
    max-height: 100%;
}

.menu-panel .closed
{
    width: 0px;
}

.content-panel
{
    width: 100%;
}

.table-overflow-allow
{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.footer
{
    color: #fff;
    font-size: .8em;
    text-align:right; 
    position: absolute; 
    bottom: 0; right: 0; 
    margin-right: 8px; 
}

.footer > a, .footer > a:visited 
{
    color: #fff;
}

.footer > a:hover
{
    text-decoration: underline;
}