<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{formAction}} System Object ({{objectTitle}})</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #addUpdateSystemObjectForm="ngForm">
        <div class="form-group">
          <label>Title</label>
          <input required class="form-control" type="text" placeholder="System Object Title..." name="so_title" [(ngModel)]="systemObject.title" id="">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea required class="form-control" placeholder="System Object description..." [(ngModel)]="systemObject.description" name="so_description" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
          <label>Tags</label>
          <input class="form-control" type="text" placeholder="Tags..." name="so_tags" [(ngModel)]="systemObject.tags" id="">
          <small>Comma seperated list of tags. This is used primarily for display and searchability.</small>
        </div>
        <div class="form-group">
          <label>Jurisdiction</label>
          <select class="form-control" [(ngModel)]="systemObject.jurisdiction_id" name="jurisdiction" id="jurisdiction">
            <option *ngFor="let jurisdiction of jurisdictions" [value]="jurisdiction.id">{{jurisdiction.title}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Object Type</label>
          <select required class="form-control" [(ngModel)]="systemObject.object_type_id" name="object_type_id">
            <option *ngFor="let type of types" [value]="type.id">{{type.title}}</option>
          </select>
        </div>
        <div>
          <label>Primary Image</label>
          <div *ngIf="systemObject.primary_image_url" style="text-align:center;">
            <img src="{{systemObject.primary_image_url}}" alt="Avatar" style="max-width: 200px;">
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input class="custom-file-input" type="file" id="inputGroupFile02" (change)="handleImageFileInput($event.target.files)">
                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="addUpdateSystemObject()" [disabled]="!addUpdateSystemObjectForm.form.valid || formSubmitting">{{formAction}} System Object<span *ngIf="formSubmitting">&nbsp;<i class="fas fa-spinner fa-spin"></i></span></button>
    </div>
  </ng-template>
  
  <button *ngIf="!systemObject.id" class="btn btn-primary" [ngClass]="{'btn-sm': smallBtn }" (click)="open(content)"><i class="fas fa-plus"></i> Add Object</button>
  <button *ngIf="systemObject.id" class="btn btn-sm btn-primary" [ngClass]="{'btn-sm': smallBtn }" (click)="open(content)"><i class="fas fa-edit"></i> Edit System Object</button>