<div>
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </div>
  </div>
  <!-- Upcoming Events row -->
  <div class="row">
    <div class="col-md-12">
      <div class="card border-primary mb-3 upcoming-events-box">
        <div class="card-header bg-primary text-white">Upcoming Events</div>
        <div class="card-body">
          <div *ngIf="!events || (events && events.length == 0)" class="row">
            <div class="col-md-12">
              <h4>There are currently no events posted!</h4>
            </div>
          </div>
          <div *ngIf="events && events.length > 0" class="row">
            <div class="col-md-6">
              <h6>Next Event Details</h6>
              <p>{{nextEvent.name}}</p>
              <p>Starts: {{nextEvent.start_date | date: 'MM/dd/yyyy hh:mm (Z)'}}</p>
              <p>End: {{nextEvent.end_date | date: 'MM/dd/yyyy hh:mm (Z)' }}</p>
            </div>
            <div class="col-md-6">
              <!-- Countdown Clock -->
              <event-countdown-chart *ngIf="showCountdown" [endTime]="nextEvent.start_date"></event-countdown-chart>
              <span style="text-align:center" *ngIf="checkerStarted && !showCountdown"><h4>In progress!<br />Come join us on <a href="https://discord.gg/yEzMyaT" target="_blank">Discord</a>!</h4></span>
            </div>
            <event-attendence [event]="nextEvent"></event-attendence>
          </div>
          <!-- Scrollable events list -->
          <div *ngIf="events && events.length > 0" class="row">
            <div class="col-md-12">
                <!-- Scrollable events list for all other events w/opt in -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="card border-primary mb-3 other-box">
        <div class="card-header bg-primary text-white">News</div>
        <div class="card-body recent-news">
          <h6 *ngIf="recentNewsArticles.length == 0">No articles posted.</h6>
          <div *ngFor="let item of recentNewsArticles" class="dashboard-news-item">
            <h6><a routerLink="/news/{{item.id}}">{{item.title}}</a><br/><small>{{item.created_at | date}}</small></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card border-primary mb-3 other-box">
        <div class="card-header bg-primary text-white">Offender Reports</div>
        <div class="card-body">
          There are currently no offender reports posted.
        </div>
      </div>
    </div>
  </div>
</div>