/* You can add global styles to this file, and also import other style files */

@import '~bootswatch/dist/flatly/bootstrap.css';

html, body {
    height: 100%;
    max-height: 100%;
    background-color: #000;
    background-image: url('/assets/imgs/crusader-lattice.jpg');
    background-size: cover;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Univia Pro', sans-serif !important;
    font-weight: 800 !important;
    font-weight: bold !important;
    letter-spacing: 0.03em !important;
} 

.univia {
    font-family: 'Univia Pro', sans-serif !important;
    font-weight: 800 !important;
    font-weight: bold !important;
    letter-spacing: 0.03em !important;
}

.overflow-scrollable
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: 89%;
}

.overflow-none
{
    overflow-y: hidden;
    overflow-x: hidden;
}

.table-hover
{
    cursor: pointer;
}

.bvc { left: -15px }
.bevel, .content { border-width: 15px }
.bevel, .content { border-color: #000; border-style:solid; }

.bvc {
    width: 90%; /* width of overall box, variable or fixed */ 
    margin: 0 auto;
    position: relative;
    margin-bottom: 15px;
}

.bvc .tr, .bvc .tl, .bvc .br, .bvc .bl { height: 0px; width: 100%; }
.bvc .tr, .bvc .tl { border-top: 0; }
.bvc .br, .bvc .bl { border-bottom: 0; }
.bvc .tr, .bvc .br { border-right-color: transparent; }
.bvc .tl, .bvc .bl { border-left-color: transparent; }
.no_bevel { height: 0px; width: 100%; border-bottom: 0; }

@font-face{
    font-family:"Univia Pro";
    font-style:normal;
    font-weight:100;
    src:url('/assets/fonts/univia-pro-100.woff2') format('woff2')
}
@font-face{
    font-family:"Univia Pro";
    font-style:normal;
    font-weight:400;
    src:url('/assets/fonts/univia-pro-400.woff2') format('woff2')
    }
@font-face{
    font-family:"Univia Pro";
    font-style:normal;
    font-weight:700;
    src:url('/assets/fonts/univia-pro-700.woff2') format('woff2')
    }
@font-face{
    font-family:"Univia Pro";
    font-style:normal;
    font-weight:800;
    src:url('/assets/fonts/univia-pro-800.woff2') format('woff2')
}
