<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{formAction}} System</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" [(ngModel)]="starSystem.title" id="system_title" name="system_title" placeholder="System Title">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea required class="form-control" placeholder="System description..." [(ngModel)]="starSystem.description" name="system_description" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group">
      <label>Tags</label>
      <input class="form-control" type="text" placeholder="Tags..." name="system_tags" [(ngModel)]="starSystem.tags" id="">
      <small>Comma seperated list of tags. This is used primarily for display and searchability.</small>
    </div>
    <div class="form-group">
      <label>Affiliation</label>
      <select class="form-control" [(ngModel)]="starSystem.faction_affiliation_id" name="faction_affiliation_id" id="faction_affiliation_id">
        <option *ngFor="let faction of factions" [value]="faction.id">{{faction.title}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Jurisdiction</label>
      <select class="form-control" [(ngModel)]="starSystem.jurisdiction_id" name="jurisdiction" id="jurisdiction">
        <option *ngFor="let jurisdiction of jurisdictions" [value]="jurisdiction.id">{{jurisdiction.title}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveUpdateSystem()" [disabled]="dataMoveInProgress">{{formAction}} System<span *ngIf="dataMoveInProgress">&nbsp;<i class="fas fa-spinner fa-spin"></i></span></button>
    <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
  </div>
</ng-template>

<button *ngIf="!starSystem || (starSystem && !starSystem.id)" class="btn btn-primary" (click)="open(content)"><i class="fas fa-plus"></i> Add System</button>
<button *ngIf="starSystem && starSystem.id" class="btn btn-primary" (click)="open(content)"><i class="far fa-edit"></i> Edit System</button>